{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About</h5>
        <div class="card-body">
            <p class="card-text">Source code of this application can be found in the github repository. In the future, I
                plan to expand the functionality of the blog: create authorization, comments, release posts, and so on.
            </p>
            <a href="https://github.com/gerstudent/django-blog" class="btn btn-success">Source
                code</a>
        </div>
    </div>
</div>

{% endblock sidebar %}